<button
  mat-button
  type="button"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#editModal' + id"
>
  EDIT
</button>
<app-generic-modal
  [modalID]="'editModal' + id"
  [modalTitle]="modalTitle"
  (closeClick)="(closeClick)"
  (doAction)="updateVisit()"
>
  <ng-container content>
    <div class="form-group row">
      <label class="col-sm-2">Patient ID</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="patient_id"
          placeholder="Enter ID"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">Doctor ID</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="doctor_id"
          placeholder="Enter ID"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">Date of Visit</label>
      <div class="col-sm-10">
        <input
          type="date"
          class="form-control"
          [(ngModel)]="timing"
          placeholder="Enter date"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">Purpose</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="purpose"
          placeholder="Enter Purpose of Visit"
        />
      </div>
    </div>
  </ng-container>
</app-generic-modal>
