
<app-add-visit
(closeClick)="closeClick()"
(refreshVList)="refreshVisitList()"
>
</app-add-visit>

<app-generic-list [list]="visitList">
  <ng-container content>
    <div class="table-container">
      <table mat-table [dataSource]="visitList" class="mat-elevation-z8 table">
        <mat-toolbar color="primary"> Visit Details </mat-toolbar>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">
            {{ element.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="p_name">
          <th mat-header-cell *matHeaderCellDef>Patient Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.patient_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="timing">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.timing | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="purpose">
          <th mat-header-cell *matHeaderCellDef>Purpose of Visit</th>
          <td mat-cell *matCellDef="let element">
            {{ element.purpose }}
          </td>
        </ng-container>
        <ng-container matColumnDef="d_name">
          <th mat-header-cell *matHeaderCellDef>Doctor Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.doctor_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action1">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <app-edit-visit
              [visit]="element"
              (closeClick)="closeClick()"
              (refreshVList)="refreshVisitList()"
            >
            </app-edit-visit>
          </td>
        </ng-container>
        <ng-container matColumnDef="action2">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="deleteClick(element)" color="warn">
              DELETE
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="action3">
          <th mat-header-cell *matHeaderCellDef>Receipt</th>
          <td mat-cell *matCellDef="let element">
            <app-show-receipt
              [receiptID]="element.id"
              (closeClick)="closeClick()"
            >
            </app-show-receipt>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let myRowData; columns: columnsToDisplay"
          class="rows"
        ></tr>
      </table>
    </div>
  </ng-container>
</app-generic-list>
