<button
  mat-button
  type="button"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#editPrescriptionModal' + prescriptionData.cnic"
>
  EDIT
</button>
<app-generic-modal
  [modalID]="'editPrescriptionModal' + prescriptionData.cnic"
  [modalTitle]="modalTitle"
  (closeClick)="(closeClick)"
  (doAction)="UpdatePrescription()"
>
  <ng-container content>
    <form [formGroup]="patientDetail" (ngSubmit)="UpdatePrescription()">
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-2">Medicine Name</label>
          <select formControlName="medicine" class="form-control">
            <option disabled>Select Medicine</option>
            <option>Choose medicine</option>
            <option *ngFor="let medicine of medicineList">
              {{ medicine.medicine_name }}
            </option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Test Name</label>
          <select formControlName="test" class="form-control">
            <option disabled>Select Test</option>
            <option>Choose test</option>
            <option *ngFor="let test of testList">
              {{ test.test_name }}
            </option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Doctor ID</label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              formControlName="doctor_id"
              placeholder="Enter Doctor ID"
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2">Recommendations</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="recommendation"
              placeholder="Enter recommendation"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Intake Amount</label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              formControlName="intake_amount"
              placeholder="Enter amount"
            />
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</app-generic-modal>
