<button
  mat-button
  type="button"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#showPrescriptionModal' + cnic"
>
  SHOW
</button>
<!-- <mat-card>
    <h5>{{prescriptionData | json }}</h5>
</mat-card> -->
<app-generic-modal
[modalID]="'showPrescriptionModal' + cnic"
[modalTitle]="modalTitle"
(closeClick)="closeClick"
(doAction)="showPrescription()">
  <ng-container content>
    <app-generic-list [list]="prescriptionData">
      <ng-container content>
        <div class="table-container">
          <mat-toolbar color="primary"> Prescriptions </mat-toolbar>
          <table
            mat-table
            [dataSource]="prescriptionData"
            class="mat-elevation-z8 table"
          >
            <ng-container matColumnDef="recommendation">
              <th mat-header-cell *matHeaderCellDef>Recommendation</th>
              <td mat-cell *matCellDef="let prescriptionData">
                {{ prescriptionData.recommendation }}
              </td>
            </ng-container>
            <ng-container matColumnDef="medicine_name">
              <th mat-header-cell *matHeaderCellDef>Medicine Name</th>
              <td mat-cell *matCellDef="let prescriptionData">
                {{ prescriptionData.medicine_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="supplier_name">
              <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
              <td mat-cell *matCellDef="let prescriptionData">
                {{ prescriptionData.supplier_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="intake_amount">
              <th mat-header-cell *matHeaderCellDef>Intake Amount</th>
              <td mat-cell *matCellDef="let prescriptionData">
                {{ prescriptionData.intake_amount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="doctor_name">
              <th mat-header-cell *matHeaderCellDef>Doctor Name</th>
              <td mat-cell *matCellDef="let prescriptionData">
                {{ prescriptionData.doctor_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Action1">
              <th mat-header-cell *matHeaderCellDef>Edit Data</th>
              <td mat-cell *matCellDef="let prescriptionData">

                <app-update-prescription
                  [prescriptionData]="prescriptionData"
                  (closeClick)="closeClick"
                ></app-update-prescription>
              </td>
            </ng-container>
            <ng-container matColumnDef="Action2">
              <th mat-header-cell *matHeaderCellDef>Delete Patient Record</th>
              <td mat-cell *matCellDef="let prescriptionData">
                <button mat-button color="warn" (click)="deletePrescription(prescriptionData.id)">DELETE</button>
              </td></ng-container
            >

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let myRowData; columns: columnsToDisplay"
              class="rows"
            ></tr>
          </table>
        </div>
      </ng-container>
    </app-generic-list>

  </ng-container>
</app-generic-modal>
    