<button
  mat-button
  type="button"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#editModal' + id"
>
  EDIT
</button>
<app-generic-modal
  [modalID]="'editModal' + id"
  [modalTitle]="modalTitle"
  (closeClick)="(closeClick)"
  (doAction)="updatePatientDetails()"
>
  <ng-container content>
    <form [formGroup]="patientDetail">
      <div class="form-group row">
        <label class="col-sm-2">Blood Type</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            formControlName="blood_type"
            placeholder="Enter Blood Type"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Bone Density</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            formControlName="bone_density"
            placeholder="Enter Bone Density"
          />
        </div>
      </div>
    </form>
  </ng-container>
</app-generic-modal>
