<button mat-button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="AddVisit()" data-keyborad="false"
        class="btn1">
  Add Visit
</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" (click)="closeClick()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-visit [visit]="visit" *ngIf="activateAddEditVisitCom">
          </app-add-edit-visit>
          <app-show-receipt [receiptID]="receiptID" *ngIf="activateReceiptCom"></app-show-receipt>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeClick()" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="refreshVisitList()" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <app-generic-list [list]="visitList">
    <ng-container content>
      <div class="movies-container">
        <div *ngFor="let visit of visitList"
             class="movie-container">
          <mat-toolbar color="primary"> Visit Details </mat-toolbar>
          <div class="content">
            <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <mat-card-title>VISIT ID # {{ visit.id }}</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <p><b>Patient ID: </b>{{ visit.patient_id }}</p>
                <p><b>Date of Visit:  </b> {{visit.timing | date: 'dd/MM/yyyy' }}</p>
                <p> <b>Purpose of Visit: </b>{{ visit.purpose  }}</p>
                <p><b>Doctor ID: </b>{{visit.doctor_id }}</p>

              </mat-card-content>
              <mat-card-actions>
                <button mat-button type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="EditVisit(visit)">
                  EDIT
                </button>
                <button mat-button (click)="deleteClick(visit)" color="warn">
                  DELETE
                </button>
                
                <button mat-button type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="showReceipt(visit.id)">
                  <mat-icon>receipt</mat-icon>
                  Receipt
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </ng-container>
  </app-generic-list>
