<button
  mat-button
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#addModal"
  (click)="AddPatient()"
  data-keyboard="false"
  class="btn1"
>
  Add Patient
</button>
<app-add-patient
  *ngIf="toggleAdd"
  [patient]="patient"
  (refreshPatientList)="refreshPatientList()"
  (closeClick)="closeClick()"
>
</app-add-patient>
<app-edit-patient
*ngIf="toggleEdit"
  [patient]="patient"
  (refreshPatientList)="refreshPatientList()"
  (closeClick)="closeClick()"
></app-edit-patient>

<app-generic-list [list]="patientList">
  <ng-container content>
    <div class="table-container">
      <mat-toolbar color="primary"> Patient Details </mat-toolbar>
      <table
        mat-table
        [dataSource]="patientList"
        class="mat-elevation-z8 table"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let patient">
            {{ patient.id  }}
          </td>
        </ng-container>
        <ng-container matColumnDef="patient_name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let patient">
            {{ patient.patient_name | uppercase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cnic">
          <th mat-header-cell *matHeaderCellDef>CNIC</th>
          <td mat-cell *matCellDef="let patient">{{ patient.cnic }}</td>
        </ng-container>
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
          <td mat-cell *matCellDef="let patient">
            {{ patient.dob | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Action1">
          <th mat-header-cell *matHeaderCellDef>Edit Data</th>
          <td mat-cell *matCellDef="let patient">
            <button
              mat-button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#editModal"
              (click)="EditPatient(patient)"
            >
              EDIT
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Action2">
          <th mat-header-cell *matHeaderCellDef>Delete Patient Record</th>
          <td mat-cell *matCellDef="let patient">
            <button mat-button (click)="deleteClick(patient)" color="warn">
              DELETE
            </button>
          </td></ng-container
        >

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let myRowData; columns: columnsToDisplay"
          class="rows"
        ></tr>
      </table>
    </div>
  </ng-container>
</app-generic-list>
