<mat-toolbar color="primary" *ngIf="logInStatus">
  <span>
    <button routerLink="" mat-button>
      <mat-icon> local_hospital</mat-icon> Hospital Portal
    </button>
  </span>

  <div>
    <button mat-button (click)="patientDetails()">
      <mat-icon>search</mat-icon>Get Patient Details
    </button>
  </div>

  <div>
    <button mat-button (click)="doctor()"> Doctors </button>
  </div>

  <div>
    <button mat-button (click)="visit()"> Visits </button>
  </div>

  <div>
    <button mat-button (click)="diagnosis()"> Get Diagnosis </button>
  </div>

  <div class="logs">
    <button mat-button (click)="patient()"> Patients </button>
  </div>
  <div >
    <button mat-button (click)="logOut()">Log Out</button>
  </div>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!logInStatus">
  <span class="logs">
    <a routerLink="" mat-button>
      <mat-icon> local_hospital</mat-icon> Hospital Portal
    </a>
  </span>

  <div >
    <a mat-button routerLink="Login"> Sign In </a>
  </div>

  <div>
    <a mat-button routerLink="Register"> Sign Up </a>
  </div>
</mat-toolbar>
