<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon> local_hospital</mat-icon> Hospital Portal
    </a>
  </span>

  <div>
    <a mat-button routerLink="getpatientdetails">
      <mat-icon>search</mat-icon>Get Patient Details
    </a>
  </div>

  <div>
    <a mat-button routerLink="doctor"> Doctors </a>
  </div>

  <div>
    <a mat-button routerLink="visits"> Visits </a>
  </div>

  <div>
    <a mat-button routerLink="diagnosis"> Get Diagnosis </a>
  </div>

  <div>
    <a mat-button routerLink="patient"> Patients </a>
  </div>
</mat-toolbar>
