<div class="form-container">
    <h2>Enter Required Information</h2>
  <form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline" required>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id"/>
      <mat-error>The id field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CNIC</mat-label>
      <input matInput formControlName="cnic"/>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" [disabled]="form.invalid">Get Details</button>
      <a mat-stroked-button >Cancel</a>
    </div>
  </form>
  <mat-card *ngIf="dataFlag">
    <mat-card-title>
      {{patientDetails[0].patient_id}}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <h5>Doctor ID: {{patientDetails[0].doctor_id}}</h5>
      <h5>Blood Type: {{patientDetails[0].blood_type}}</h5>
      <h5>Bone Density: {{patientDetails[0].bone_density}}</h5>
      <h5>Number of Visits: {{patientDetails[0].no_of_visits}}</h5>
    </mat-card-content>
  
  </mat-card>
  </div>
  