<app-edit-details
  *ngIf="toggleEdit"
  (closeClick)="closeClick()"
  [patient]="patientData[0]"
  [visitID]="patientDetails[0].details_id"
></app-edit-details>
<app-add-details
  *ngIf="toggleAdd"
  (closeClick)="closeClick()"
  [patient]="patientData[0]"
></app-add-details>

<div class="form-container">
  <h2>Enter Required Information</h2>
  <form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline" >
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <mat-label>CNIC</mat-label>
      <input matInput formControlName="cnic" />

    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" [disabled]="form.invalid">
        Get Details
      </button>
      <a mat-stroked-button>Cancel</a>
    </div>
  </form>
</div>
<app-generic-list [list]="patientData">
  <ng-container content>
    <div class="movies-container">
      <div *ngFor="let patient of patientData" class="movie-container">
<mat-card class="card card-container" style="width: 38rem" *ngIf="dataFlag">
  <div class="card-body">
    <mat-card-title class="card-title">
      {{ patient.patient_name }}
    </mat-card-title>
    <h6 class="card-subtitle mb-2 text-muted">
      Date of Birth: {{ patientData[0].dob | date: "dd-MM-yyyy" }}
    </h6>
    <mat-divider></mat-divider>
    <mat-card-content class="card-text" *ngIf="detailsFlag">
      <h5>Blood Type: {{ patientDetails[0].blood_type }}</h5>
      <h5>Bone Density: {{ patientDetails[0].bone_density }}</h5>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <button
        mat-button
        (click)="addDetails()"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#addModal"
      >
        ADD
      </button>
      <button
        mat-button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#editModal"
        (click)="editDetails()"
      >
        EDIT
      </button>
      <h3 class="card-title">Prescriptions</h3>
      <mat-divider></mat-divider>
      <app-add-prescription
        (closeClick)="closeClick()"
        [patient]="patientData[0]"
      ></app-add-prescription>
      <button
        mat-button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#addPrescriptionModal"
      >
        ADD
      </button>
      <app-show-prescription
        *ngIf="patientData"
        [cnic]="patientData[0].cnic"
      ></app-show-prescription>
    </mat-card-footer>
  </div>
</mat-card>
