<div>

  <app-add-doctor
    [doctor]="doctor"
    (refreshDoctorList)="refreshDoctorList()"
    (closeClick)="closeClick()"
  >
  </app-add-doctor>
  <!-- the app edit doctor component causes some sort of rendering issue. please investigate this. -->

  <app-generic-list [list]="doctorList">
    <ng-container content>
      <div class="movies-container">
        <div *ngFor="let doctor of doctorList" class="movie-container">
          <mat-toolbar color="primary">
            Doctor# {{ doctor.id }} Details
          </mat-toolbar>
          <div class="content">
            <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <mat-card-title
                  >Name: {{ doctor.doctor_name | uppercase }}</mat-card-title
                >
              </mat-card-header>
              <mat-card-content>
                <p>Designation: {{ doctor.title | uppercase }}</p>
              </mat-card-content>
              <mat-card-actions>
                <app-edit-doctor
                  [doctor]="doctor"
                  (refreshDoctorList)="refreshDoctorList()"
                  (closeClick)="closeClick()"
                >
                </app-edit-doctor>
                <button mat-button (click)="deleteClick(doctor)" color="warn">
                  DELETE
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </ng-container>
  </app-generic-list>
</div>
