<div>
  <button
    mat-button
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
    (click)="AddDoctor()"
    data-keyboard="false"
    class="btn1"
  >
    Add Doctor
  </button>
  <app-add-doctor
    *ngIf="toggleAdd"
    [doctor]="doctor"
    (refreshDoctorList)="refreshDoctorList()"
    (closeClick)="closeClick()"

  >
  </app-add-doctor>
  <!-- the app edit doctor component causes some sort of rendering issue. please investigate this. -->
  <app-edit-doctor
    *ngIf="toggleEdit"
    [doctor]="doctor"
    (refreshDoctorList)="refreshDoctorList()"
    (closeClick)="closeClick()"
  >
  </app-edit-doctor>
  <app-generic-list [list]="doctorList">
    <ng-container content>
      <div class="movies-container">
        <div *ngFor="let doctor of doctorList" class="movie-container">
          <mat-toolbar color="primary">
            Doctor# {{ doctor.id }} Details
          </mat-toolbar>
          <div class="content">
            <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <mat-card-title
                  >Name: {{ doctor.doctor_name | uppercase }}</mat-card-title
                >
              </mat-card-header>
              <mat-card-content>
                <p>Designation: {{ doctor.title | uppercase }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button
                  mat-button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal"
                  (click)="EditDoctor(doctor)"
                >
                  EDIT
                </button>
                <button mat-button (click)="deleteClick(doctor)" color="warn">
                  DELETE
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </ng-container>
  </app-generic-list>
</div>
