
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="editModalLabel">Edit Patient Details</h1>
        <button
          type="button"
          class="btn-close"
          (click)="closeClick.emit()"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <form [formGroup]="patientDetail" >

            <div class="form-group row">
              <label class="col-sm-2">Blood Type</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  formControlName="blood_type"
                  placeholder="Enter Blood Type"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2">Bone Density</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  formControlName="bone_density"
                  placeholder="Enter Bone Density"
                />
              </div>
            </div>
    
          </form>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="click"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          data-bs-target="#editModal"
          (click)="updatePatientDetails()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
